*{
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0 auto;
}
.container-1{
    max-width: 1440px;
}
.container-fluid{
    padding: 0;
}
.text-primary{
    color: #0093ed!important
}
header .logo{
    background-color: #0093ed;
    padding: 5px 20px;
}
.bg-primary1{
    background-color: #0093ed;
}
.header-menu{
    display: none;
}

.features:hover{
    transform: rotate(-360deg);
    transition: all .5s;
}
/* canvas {
    display: block; }
#particles-js {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 86px;
    background-color: #f9f9f9;
    z-index: -1;
 }

  */
    
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden; 
}
#to-top {
    position: fixed;
    right: 30px;
    bottom: 25px;
    cursor: pointer;
    padding: 10px 15px;
    background: #0093ed;
    border: 1px solid white;
    font-weight: bold;
    size: 20px;
    border-radius: 10px;
    display: none;
    z-index: 99;
}