@media (min-width: 1400px) {
    .container-2{
        max-width: 1600px;
    }
}
@media (max-width: 1024px) {
    .nav-bar1 ul li{
        font-size: 18px;

    }
    
}
@media (max-width: 992px) {
    
    .call-header{
        display: none;
    }header .nav-bar1{
        display: none;
    }
    .header-menu{
        display: block;
    }
}
@media (max-width: 768px) {
    header .we{
        display: none;
    }
    
}